<app-nav role="navigation"></app-nav>

<sky-tile *ngIf="!listDataProvider.failedToLoadFilmShowtimes">
  <sky-tile-title class="filmShowtimeCount">
    {{filmName}}
  </sky-tile-title>
  <sky-tile-content>

    <div *ngIf="listDataProvider.failedToLoadFilmShowtimes" id="form-list-error">
      <sky-error errorType="broken">
        <sky-error-action>
          <button
            type="button"
            class="sky-btn sky-btn-primary"
            (click)="refreshPage()">
            Refresh
          </button>
        </sky-error-action>
      </sky-error>
    </div>

    <sky-list [dataProvider]="listDataProvider" *ngIf="!listDataProvider.failedToLoadFilmShowtimes">
      <sky-list-toolbar></sky-list-toolbar>
      <sky-list-view-grid fit="scroll">
        <sky-grid-column field="showtime" [heading]="alamobotConstants.SHOWTIME" [template]="DateFormat"></sky-grid-column>
        <sky-grid-column field="watched" [heading]="alamobotConstants.WATCHED" [template]="contextMenuButtonTemplate"></sky-grid-column>
      </sky-list-view-grid>
      <sky-list-paging [pageSize]="10"></sky-list-paging>
    </sky-list>

    <ng-template let-row="row" #contextMenuButtonTemplate="">
      <sky-checkbox [checked]="row.watched" (change)="setFilmShowtimeStatus(row,$event.checked)">
      </sky-checkbox>
    </ng-template>

    <ng-template let-item="item" #DateFormat>
      <a routerLink="{{item.data.sessionId}}" class="donation-form-details-link">{{ item.data.showtime | date:'medium' }}</a>
    </ng-template>
  </sky-tile-content>
</sky-tile>
