<app-nav role="navigation"></app-nav>

<sky-tile *ngIf="!failedToLoadSeats">
  <sky-tile-title>
    {{filmName}} Bought Seating Map
  </sky-tile-title>
  <sky-tile-content>

    <div *ngIf="failedToLoadSeats" id="form-list-error">
      <sky-error errorType="broken">
        <sky-error-action>
          <button
            type="button"
            class="sky-btn sky-btn-primary"
            (click)="refreshPage()">
            Refresh
          </button>
        </sky-error-action>
      </sky-error>
    </div>
    <div *ngFor="let row of cached | async">
      {{row[0].rowNumber}}
      <span *ngFor="let seat of row" class="button-row">
        <button type="button" class="sky-btn sky-btn-primary" *ngIf="!isSeatBought(seat) && !isEmptySpace(seat) && !isSeatTaken(seat)">{{ seat.seatNumber }}</button>
        <button type="button" class="sky-btn sky-btn-default" *ngIf="isSeatBought(seat) && !doesSomeoneHaveSeat(seat)" (click)="showPersonSittingInSeat(seat)">{{ seat.seatNumber }}</button>
        <button type="button" class="sky-btn sky-btn-link-inline" *ngIf="isSeatBought(seat) && doesSomeoneHaveSeat(seat)" (click)="showPersonSittingInSeat(seat)">{{ seat.seatNumber }}</button>
        <button type="button" class="sky-btn sky-btn-primary" *ngIf="isEmptySpace(seat)">{{ seat.seatNumber }}</button>
        <button type="button" class="sky-btn sky-btn-link" *ngIf="isSeatTaken(seat)">Sold</button>
      </span>
    </div>
  </sky-tile-content>
</sky-tile>
