<app-nav role="navigation"></app-nav>

<sky-tile>
  <sky-tile-title class="filmCount">
    {{filmCountNum}} Films
  </sky-tile-title>
  <sky-tile-content>

    <div *ngIf="listDataProvider.failedToLoadFilms" id="form-list-error">
      <sky-error errorType="broken">
        <sky-error-action>
          <button
            type="button"
            class="sky-btn sky-btn-primary"
            (click)="refreshPage()">
            Refresh
          </button>
        </sky-error-action>
      </sky-error>
    </div>

    <sky-list [dataProvider]="listDataProvider" *ngIf="!listDataProvider.failedToLoadFilms">
      <sky-list-view-grid fit="scroll">
        <sky-grid-column field="filmName" [heading]="alamobotConstants.FILM_NAME" [template]="FormNameTemplate"></sky-grid-column>
        <sky-grid-column field="seatCount" [heading]="alamobotConstants.NUM_SEATS"></sky-grid-column>
        <sky-grid-column field="cinema" [heading]="alamobotConstants.CINEMA_NAME"></sky-grid-column>
        <sky-grid-column field="sessionDateTime" [heading]="alamobotConstants.SHOWTIME" [template]="DateFormat"></sky-grid-column>
      </sky-list-view-grid>
      <sky-list-paging pageSize={{pageSize}}></sky-list-paging>
    </sky-list>

    <ng-template let-row="row" #contextMenuButtonTemplate="">
      <sky-checkbox [checked]="row.watched" (change)="setFilmStatus(row,$event.checked)">
      </sky-checkbox>
    </ng-template>

    <ng-template let-item="item" #FormNameTemplate>
      <a routerLink="{{item.data.sessionId}}/map" class="donation-form-details-link">{{item.data.filmName}}</a>
    </ng-template>

    <ng-template let-value="value" #DateFormat>
      {{ value | date:'medium' }}
    </ng-template>
  </sky-tile-content>
</sky-tile>
