<sky-modal>
  <sky-modal-header>
    {{title}}
  </sky-modal-header>
  <sky-modal-content>
    <div>
      <label>
        Film Search Term
        <input type="text" [(ngModel)]="alert.filmName">
      </label>
    </div>
    <div>
      <label>
        Seat Count
        <input type="text" [(ngModel)]="alert.seatCount">
      </label>
    </div>
    <div>
      <label>
        Override Seating Algorithm
        <sky-checkbox [checked]="false" #overrideSeatingAlgorithm></sky-checkbox>
      </label>
    </div>
    <div style="max-width: 400px">
      <label>
        Earliest Showtime
        <sky-timepicker #earliestShowtime>
          <input
            type="text"
            [skyTimepickerInput]="earliestShowtime"
            [timeFormat]="format24"
            [(ngModel)]="alert.earliestShowtime"
            #time="ngModel"
          />
        </sky-timepicker>
      </label>
    </div>
    <div style="max-width: 400px">
      <label>
        Latest Showtime
        <sky-timepicker #latestShowtime>
          <input
            type="text"
            [skyTimepickerInput]="latestShowtime"
            [timeFormat]="format24"
            [(ngModel)]="alert.latestShowtime"
            #time="ngModel"
          />
        </sky-timepicker>
      </label>
    </div>
    <div>
      <h3>
        Select Preferred Days Of The Week
      </h3>
      <sky-list [data]="daysOfTheWeek" (selectedIdsChange)="selectedItemsChange($event)">
        <sky-list-view-checklist
          label="day"
          [selectMode]="multiple">
        </sky-list-view-checklist>
      </sky-list>
    </div>
    <div>
      <h3>
        Select Theaters
      </h3>
      <sky-list [dataProvider]="listDataProvider" (selectedIdsChange)="selectedCinemasChange($event)">
        <sky-list-view-checklist
          label="name"
          [selectMode]="multiple">
        </sky-list-view-checklist>
      </sky-list>
    </div>
  </sky-modal-content>
  <sky-modal-footer>
    <button type="button" class="sky-btn sky-btn-primary" (click)="saveNewFilmAlert()">Save</button>
  </sky-modal-footer>
</sky-modal>
